.pagination {
  display: flex;
  justify-content: center;
}

.pagination__action,
.pagination__page-item--more {
  color: var(--c-text-active);
  flex-shrink: 0;
  background-color: inherit;
  border: 0;
  padding: var(--s-xs) var(--s-sm);
  margin-right: var(--s-xs);
}

.pagination__action--active {
  color: var(--c-text-contrast);
  background-color: var(--c-bkg-active);
}

.pagination__action--inactive,
.pagination__page-item--more {
  color: var(--c-text-inactive);
}

.pagination__page-list {
  display: flex;
}

.pagination__page-item .pagination__action,
.pagination__page-list + .pagination__action {
  border-left: 0;
}

.pagination__page-list + .pagination__action {
  margin-right: 0;
}

.pagination__page-item--hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .pagination__page-item--more {
    display: none;
  }

  .pagination__page-item--hide {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .pagination {
    justify-content: initial;
  }

  .pagination__action {
    border: var(--border);
    width: 40px;
    height: 40px;
    background-color: var(--c-bkg);
    padding: 0;
    margin: 0;
  }

  .pagination__action--active {
    background-color: var(--c-bkg-active);
  }

  .pagination__action--inactive {
    color: var(--c-text-inactive);
    background-color: var(--c-bkg-inactive);
  }
}
