.search-form {
  margin-bottom: var(--s-lg);
}

.search-form__filter {
  display: flex;
}

.search-form__filter:not(:last-child) {
  margin-bottom: var(--s-sm);
}

.search-form__input,
.search-form__button,
.search-form__label,
.search-form__select {
  padding: var(--s-sm) var(--s-md);
  border: var(--border);
  border-left: 0;
}

.search-form__input:first-child,
.search-form__button:first-child,
.search-form__label:first-child,
.search-form__select-container:first-child .search-form__select {
  border-left: var(--border);
}

.search-form__input,
.search-form__button,
.search-form__select {
  color: var(--c-interactive);
  background-color: var(--c-bkg);
}

.search-form__input,
.search-form__select {
  width: 100%;
}

.search-form__input::placeholder {
  color: var(--c-text-inactive);
}

.search-form__label {
  display: none;
}

.search-form__select-container {
  position: relative;
  width: 100%;
}

.search-form__select-container::before,
.search-form__select-container::after {
  content: '';
  position: absolute;
  right: var(--s-sm);
  top: 50%;
  border-left: var(--s-xs) solid transparent;
  border-right: var(--s-xs) solid transparent;
}

.search-form__select-container::before {
  transform: translateY(-125%);
  border-bottom: var(--s-xs) solid var(--c-interactive);
}

.search-form__select-container::after {
  transform: translateY(25%);
  border-top: var(--s-xs) solid var(--c-interactive);
}

.search-form__select {
  -webkit-appearance: none;
  border-radius: 0;
  padding-right: calc(var(--s-md) + var(--s-xs));
}

@media screen and (max-width: 576px) {
  .search-form__label:first-child + .search-form__input,
  .search-form__label:first-child + .search-form__button,
  .search-form__label:first-child + .search-form__select-container .search-form__select {
    border-left: var(--border);
  }
}

@media screen and (min-width: 576px) {
  .search-form__label {
    display: block;
    color: gray;
    background-color: var(--c-bkg-inactive);
    flex-shrink: 0;
  }
}

@media screen and (min-width: 992px) {
  .search-form {
    display: flex;
  }

  .search-form__filter:not(:last-child) {
    margin-bottom: 0;
    margin-right: var(--s-md);
  }

  .search-form__input {
    width: 25rem;
  }

  .search-form__select-container {
    width: initial;
    min-width: 20rem;
  }
}
