html {
  font-size: 10px;
  font-family: sans-serif;
  color: var(--c-text);
  background-color: var(--c-bkg-page)
}

body {
  font-size: var(--fs-md);
}

input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input:not([disabled]):hover,
input:not([disabled]):focus,
button:not([disabled]):hover,
button:not([disabled]):focus,
select:not([disabled]):hover,
select:not([disabled]):focus {
  outline: 0;
  background-color: var(--c-bkg-hover);
}

button:not([disabled]) {
  cursor: pointer;
}
